@use "vars" as *;
@use "mixins" as *;

.det-item {
    text-shadow: 1px 1px 1px black;
    font-size: clamp(1rem, 5vw, 1.5rem);
}

.det-backdrop {
    filter: brightness(0.4);
    object-fit: cover;
}

.detail-grid {
    position: absolute;
    width: 100%;
    top: 8vh;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 10px 180px auto auto 10px;
    grid-template-areas:
    ".      title       title   title   .   "
    ".      .           .       .       .   "
    ".      poster      votes   fave    .   "
    ".      poster      runtime runtime .   "
    ".      poster      rating  rating  .   "
    ".      poster      date    date    .   "
    ".      link        link    .       .   "
    ".      genres      genres  genres  .   "
    ".      summary     summary summary  .   ";

        .det-poster {
            width: 100%;
            height: 100%;
            object-fit: cover;
            grid-area: poster;
        
        }
        
        .det-title {
            grid-area: title;
            font-size: $detailHeadingSize;
        }
        
        .det-votes {
            grid-area: votes;
        }
        
        .det-date {
            grid-area: date;
        }
        
        .det-runtime {
            grid-area: runtime;
        }
        
        .det-rating {
            grid-area: rating;
        }
        
        .fave-det {
            grid-area: fave;
            @include place-center-mixin;
        }

        .det-genres {
            margin: 0;
            margin-left: 0.5rem;
            margin-bottom: 0.5rem;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            li {
              display: grid;
              place-items: center;
              list-style-type: none;
              border: 2px solid $buttonColor;
              border-radius: 31.25rem;
              padding: 0.2rem 1rem;
              margin: 0.5rem 0.5rem;
            }
            grid-area: genres;
          }
        
          .det-summary {
            max-width: 90%;
            margin: 0 auto;
            grid-area: summary;
        }
}
@media (min-width: $mobile-large) {     //440px
    .detail-grid {
        top: 10vh;
        gap: 1rem;
        grid-template-columns: 10px 210px auto auto auto;
        grid-template-areas:
        ".      title       title   title   .       "
        ".      .           .       .       .       "
        ".      poster      votes   fave    fave    "
        ".      poster      runtime runtime runtime "
        ".      poster      rating  rating  rating  "
        ".      poster      date    date    date    "
        ".      link        link    .       .       "
        ".      genres      genres  genres  .       "
        ".      summary     summary summary .       ";
        
    }
    .det-poster {
        width: 210px;
    }
  }

  @media (min-width: $tablet-small) {   //600px
    .detail-grid {
        gap: 1.5rem;
        grid-template-areas:
        ".      title   title   title   title   .       .       "
        ".      .       .       .       .       .       .       "
        ".      poster  votes   fave    .       .       .       "
        ".      poster  runtime rating  .       .       .       "
        ".      poster  date    date    date    .       .       "
        ".      poster  link    link    link    .       .       "
        ".      genres  genres  genres  genres  genres  .       "
        ".      summary summary summary summary summary .       ";
    }  
  }

  @media (min-width: $tablet) {     //768px
    .detail-grid {
        grid-template-areas:
        ".      title   title   title   title   title   title   .   "
        ".      poster  votes   fave    .       .       .       .   "
        ".      poster  runtime rating  .       link    link    .   "
        ".      poster  date    date    date    .       .       .   "
        ".      poster  genres  genres  genres  genres  genres  .   "
        ".      summary summary summary summary summary summary .   ";
    }
}

  @media (min-width: $desktop) {     // 1024px

    // .youtube-embed {
    //     display: block;
    // }
    .detail-grid {
        gap: 2rem;
        grid-template-areas:
        ".      title   title   title   title   title   title   .   "
        ".      poster  votes   fave    .       .       .       .   "
        ".      poster  runtime rating  .       link    link    .   "
        ".      poster  date    date    date    .       .       .   "
        ".      poster  genres  genres  genres  genres  genres  .   "
        ".      summary summary summary summary summary summary .   ";
    }

  }
  @media (min-width: $desktop-large) {     // 1024px
    
    .detail-grid {
        width: $max-content-width;
        grid-template-areas:
        ".      title   title   title   title   title   title   .   "
        ".      poster  votes   fave    .       .       .       .   "
        ".      poster  runtime rating  .       link    link    .   "
        ".      poster  date    date    date    .       .       .   "
        ".      poster  genres  genres  genres  genres  genres  .   "
        ".      summary summary summary summary summary summary .   ";
    }
    
    .det-backdrop {
        max-width: $max-width;
    }
  }
    // .youtube-embed {
    //     display: block;
    // }
//     .detail-grid {
//         max-width: $max-width;
//         gap: 2rem;
//         grid-template-areas:
//         ".      title   title   title   title   title   title   .          "
//         ".      poster  votes   fave    .       .       .       .          "
//         ".      poster  runtime rating  .       link    .       .          "
//         ".      poster  date    date    .       .       .       .          "
//         ".      poster  genres  genres  genres  genres  genres  .          "
//         ".      .       .       .       .       .       .       .          "
//         ".      .       summary summary summary .       .       .          ";
//     }

//   }




