@use "vars" as *;

#root {
  background-color: $bodyColor;
  color: $textColor;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
}

main {
  //this is in conjunction with the 100vh, to ensure footer
  //always grows to bottom of the page
  flex: 1;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFont;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: $textColor;
}

.favourite-btn {
  all: unset;
  //trying this here so I don't have to transform it at every single mediaQ
  width: clamp(30px, 100%, 45px);
  cursor: pointer;

  @media (min-width: $desktop) {
    transition: 0.4s ease-in-out transform;
    &:hover {
      transform: scale(1.5);
    }
  }
}
