@use "vars" as *;

#root {
  background-color: $bodyColor;
  color: $textColor;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $bodyFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFont;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: $textColor;
}

button {
  border: 2px solid $buttonColor;
  border-radius: 10px;
  background-color: $bodyColor;
  color: $buttonColor;
}
