@use "vars" as *;

header {
  .header-contents {
    display: flex;
    justify-content: space-between;
  }
  .nav-logo {
    display: flex;
  }
  h3 {
    font-weight: 400;
    font-size: 1.667rem;
    margin: 0.75rem 0rem 0rem 0.5rem;
  }
  .logo-title-parent {
    flex: 1;
  }
  .drop-down {
    all: unset;
    position: absolute;
    left: 0rem;
    right: 0rem;
    z-index: 999;
    background-color: $bodyColor;
  }
  .visible {
    display: block;
  }
  .invisible {
    display: none;
  }
  img {
    margin-left: 1rem;
    margin: 0.75rem 0rem 0rem 1rem;
    height: 1.75rem;
  }

  .hamburger-button {
    div {
      width: 2.5rem;
      border: 2px solid $textColor;
      border-radius: 1rem;
      margin: 0.5rem 1rem 0.5rem 0.5rem;
    }
  }

  ul {
    list-style: none;
    padding: 0rem;
    li {
      border-bottom: 1.5px solid $textColor;
      margin: 2rem 2rem;
      a {
        text-align: center;
        display: block;
        font-size: 2rem;
      }
    }
  }
  .large-nav {
    display: none;
  }
  .small-nav {
    display: block;
  }
  li {
    display: block;
  }
  //set to em?
  //dropdown menu might be a bit buggy with opening and closing, make sure to revisit
  @media (min-width: $tablet) {
    .nav-logo,
    .nav-links {
      display: flex;
      align-items: center;
      margin: 1rem;

      .large-nav {
        font-size: 1.667rem;
        margin: unset;
        padding: 0 1rem;

        &.active {
          color: $buttonColor;
        }
      }

      img,
      h3 {
        margin: unset;
        padding: 0 0.25rem;
      }
    }

    .large-nav {
      display: block;
      // margin-top: 0.75rem;
      // margin-right: 1rem;
      // font-size: 1.5rem;
    }
    .small-nav {
      display: none;
    }
    li {
      display: none;
    }
  }
  @media (min-width: $desktop) {
    header {
      max-width: unset;
    }
    .header-contents {
      max-width: $max-content-width;
      margin: auto;

      .logo-nav {
      }

      .large-nav,
      h3 {
        font-size: 2.5rem;
      }

      h3,
      img {
        margin: unset;
      }
      img {
        height: 3rem;
      }
      .inward-elem {
        // margin-right: 5rem;
      }
    }
  }
}
