@use "vars" as *;

header {
  .header-contents {
    display: flex;
    justify-content: space-between;
  }
  h3 {
    font-weight: 400;
    font-size: 1.667rem;
    margin: 0.75rem 0rem 0rem 0.5rem;
  }
  .logo-title-parent {
    flex: 1;
  }
  .visible {
    display: block;
  }
  .invisible {
    display: none;
  }
  img {
    margin-left: 1rem;
    margin: 0.75rem 0rem 0rem 1rem;
    height: 1.75rem;
  }

  .hamburger-button {
    div {
      width: 2.5rem;
      border: 2px solid $textColor;
      border-radius: 1rem;
      margin: 0.5rem 1rem 0.5rem 0.5rem;
    }

    .active {
      border: 2px solid yellowgreen;
    }
    .inactive {
      border: 2px solid red;
    }
  }

  ul {
    list-style: none;
    padding: 0rem;
    li {
      border-bottom: 1.5px solid $textColor;
      margin: 2rem 2rem;
      a {
        text-align: center;
        display: block;
        font-size: 2rem;
      }
    }
  }
}
