@use "vars" as *;

header {
  max-width: 86rem;
  .header-contents {
    display: flex;
    justify-content: space-between;
  }
  h3 {
    font-weight: 400;
    font-size: 1.667rem;
    margin: 0.75rem 0rem 0rem 0.5rem;
  }
  .logo-title-parent {
    flex: 1;
  }
  .visible {
    display: block;
  }
  .invisible {
    display: none;
  }
  img {
    margin-left: 1rem;
    margin: 0.75rem 0rem 0rem 1rem;
    height: 1.75rem;
  }

  .hamburger-button {
    div {
      width: 2.5rem;
      border: 2px solid $textColor;
      border-radius: 1rem;
      margin: 0.5rem 1rem 0.5rem 0.5rem;
    }
  }

  ul {
    list-style: none;
    padding: 0rem;
    li {
      border-bottom: 1.5px solid $textColor;
      margin: 2rem 2rem;
      a {
        text-align: center;
        display: block;
        font-size: 2rem;
      }
    }
  }
  .large-nav {
    display: none;
  }
  .small-nav {
    display: block;
  }
  li {
    display: block;
  }
  //set to em?
  //dropdown menu might be a bit buggy with opening and closing, make sure to revisit
  @media (min-width: $tablet) {
    .large-nav {
      display: block;
      margin-top: 0.75rem;
      margin-right: 1rem;
      font-size: 1.5rem;
    }
    .small-nav {
      display: none;
    }
    li {
      display: none;
    }
  }
  @media (min-width: 90em) {
    width: 90rem;
    margin: auto;

    h3 {
      font-size: 3rem;
    }
    img {
      height: 3rem;
    }
    .large-nav {
      font-size: 3rem;
    }
    .inward-elem {
      margin-right: 5rem;
    }
  }
}
