@use "vars" as *;

.hero-div {
  width: 100%;
  .carousel {
    overflow: hidden;

    .use-spring-carousel-item {
      width: 4rem;
      justify-content: center;
      align-items: center;
      margin-right: 0rem;
    }
  }
}
