@use "vars" as *;

.hero-div {
  position: relative;

  .hero-image {
    width: 100%;
    height: auto;
    margin-top: 0.75rem;
    transition: 1s;
  }
  .hidden {
    position: absolute;
    left: 0rem;
    opacity: 0;
  }
  .slider-flex {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    bottom: 0.5rem;
  }
  .slider-circle {
    height: 0.5rem;
    width: 0.5rem;
    background-color: $textColor;
    border-radius: 50%;
    margin: 0.25rem;
  }
  .slider-circle:hover {
    border: 0.125rem solid $buttonColor;
  }
  .movie-title {
    position: absolute;
    bottom: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    left: 0.5rem;
  }
  .active {
    background-color: $buttonColor;
  }
  @media (min-width: 768px) {
    .movie-title {
      font-size: 2.5rem;
      bottom: 6rem;
      left: 2rem;
    }
  }
}
