@use "vars" as *;

.filter-btns {
  display: flex;
  justify-content: center;
  position: relative;
}

.underline-slide {
  font-size: 1.5rem;
  color: #fff;
  margin: 1rem;
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: $buttonColor;
    width: 0;
    display: block;
    transition: width 0.5s ease-in-out;
  }

  &.active {
    color: #fff;

    &:after {
      width: 100%;
    }
  }
}

.movie-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 1rem;
  margin: 0 auto;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  width: 100%;

  li {
    position: relative;
  }
  img {
    width: 100%;
    aspect-ratio: 6 / 9; //some movies have odd poster sizes so we force an aspect ratio
    vertical-align: top;
  }

  .favourite-btn {
    position: absolute;
    top: 0rem;
    right: 0rem;

    svg {
      color: $textColor;
    }
  }
  .movie-overview {
    display: none;
  }
  .movie-date {
    margin: 0.25rem;
  }
  .movie-title {
    margin: 0.25rem;
    height: 2.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .info-btn {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 37.5em) {
  //adding lots of breakpoints to increment grid size
  .movie-cards {
    padding: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 48em) {
  .movie-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: $desktop) {
  .movie-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 86rem;

    .hover-elem {
      position: absolute;
      top: 0rem;
      bottom: 0rem;
      left: 0rem;
      right: 0rem;
      background-color: rgba(0, 0, 0, 0.658); //make this a var
      opacity: 0;
      transition: 0.5s;
    }
    .hover-elem:hover {
      opacity: 1;
      transition: 0.5s;
    }
    .movie-date {
      position: absolute;
      top: 0rem;
      left: 0rem;
    }
    .movie-title {
      position: absolute;
      top: 2rem;
      font-size: 1.25rem;
      height: 3rem;
      left: 0rem;
      font-style: italic;
      font-style: italic;
    }
    .movie-overview {
      display: block;
      position: absolute;
      height: 8rem;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 8rem;
      text-overflow: ellipsis;
      overflow: hidden;
      top: 6rem;
      left: 0.25rem;
    }
    .info-btn {
      position: absolute;
      bottom: 0.5rem;
      left: 0rem;
    }
  }
}
//text length change
//maybe make this a variable
@media (min-width: 90em) {
  .movie-cards {
    .movie-overview {
      height: 13.75rem;
    }
  }
}
