@use "vars" as *;

.movie-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 1rem;
  margin: 0 auto;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  width: 100%;

  li {
    position: relative;
  }
  img {
    width: 100%;
    aspect-ratio: 6 / 9; //some movies have odd poster sizes so we force an aspect ratio
    vertical-align: top;
  }

  .favourite-btn {
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 999;

    svg {
      color: $textColor;
    }

  }
  .movie-overview {
    font-size: 1.05rem;
    display: none;
  }
  .movie-date {
    font-size: $footerFontSize;
    margin: 0.25rem;
  }
  .movie-title {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.25rem;
    height: 2.25rem;
    text-transform: uppercase;
  }
  .info-btn {
    display: block;
    margin: 0.5rem 0;
    padding: 0.15rem;
    width: 100%;
    text-align: center;
    border: 2px solid $buttonColor;
    border-radius: $borderRad;
    color: $buttonColor;
    cursor: pointer;

    &:hover {
      background-color: $buttonColor;
      color: $textColor;
    }
  }
}
@media (min-width: $tablet-small) { 
  //adding lots of breakpoints to increment grid size
  .movie-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: $tablet) {
  .movie-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: $desktop) {
  .movie-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: $max-content-width; 
    padding: 1rem;

    .info-btn {
      background-color: #ff000000;
      display: none;
    }
    .movie-date {
      display: none;
    }

    .movie-card:hover {
      img {
        filter: brightness(0.2);
      }
      .info-btn {
        position: absolute;
        top: 75%;
        display: block;
      }
      .movie-overview {
        position: absolute;
        display: block;
        top: 4rem;
        height: 8rem;
      }
      .movie-date {
        position: absolute;
        display: block;
        top: 0.5rem;
        left: 0.5rem;
      }
    }
  }
}
//text length change
//maybe make this a variable
@media (min-width: $max-content-width) { 
  .movie-cards {
    .movie-overview {
      width: 90%;
      height: 13.75rem;
    }
  }
}
