@use "vars" as *;

@mixin place-center-mixin () {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
// @mixin outline-wrap() {
//       border: 2px solid $textColor;
//       border-radius: 31.25rem;
//       // margin: 0.5rem 0.5rem;
//       //mixin inside a mixin, so meta
//       @include place-center-mixin;

// }