//Google Fonts

//roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

//roboto condensed
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

//fonts

$bodyFont: "Roboto Condensed", sans-serif;
$headingFont: "Roboto", sans-serif;

//font sizes
$bodyFontSize: clamp(1rem, 5vw, 1.15rem);
$headingFontSize: clamp(1.5rem, 5vw, 3.25rem);


// colours

$bodyColor: #222222;
$textColor: #ffffff;
$buttonColor: #ffcc33;

// Breakpoints
// MAKE THEM EMS
$mobile: 20em; // 320px
$mobile-large: 27.5em; // 440px
$tablet-small: 37.5em; // 600px
$tablet: 48em; // 768px
$desktop: 64em; // 1024px

// Max Width
$max-width: 120rem; // 1920px
$max-content-width: 86rem; //this is used on different sections to ensure consistent width on desktop
